<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/register}" th:object="${appUserDto}">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" th:field="*{username}" class="form-control">
        </p>
        <p>
            <label for="firstName" class="sr-only">First name</label>
            <input type="text" id="firstName" th:field="*{firstName}" class="form-control">
        </p>
        <p>
            <label for="lastName" class="sr-only">Last name</label>
            <input type="text" id="lastName" th:field="*{lastName}" class="form-control">
        </p>
        <p>
            <label for="emailAddress" class="sr-only">Email</label>
            <input type="email" id="emailAddress" th:field="*{emailAddress}" class="form-control" required>
        </p>
        <p>
            <label for="phoneNumber" class="sr-only">Phone number</label>
            <input type="number" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" required>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" required>
        </p>
        <div class="col-md-6 form-group">
            <label>Account type</label>
            <p>
                <label for="idAppUserRole_employee" class="sr-only">I want to offer a service</label>
                <input type="radio" value="3" id="idAppUserRole_employee" th:field="*{idAppUserRole}" class="form-control" required>
            </p>
            <p>
                <label for="idAppUserRole_customer" class="sr-only">I want to order a service</label>
                <input type="radio" value="4" id="idAppUserRole_customer" th:field="*{idAppUserRole}" class="form-control" required>
            </p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>